@font-face
  font-family 'DejaVu'
  src url('/images/deja-vu-sans-mono.woff') format('woff')

body
  font-family 'DejaVu', sans-serif
  width 100%
  height 100%
  position fixed
  overflow hidden

@keyframes pulse
  0%
    opacity 0
  100%
    opacity 1

.zar
  color white
  font-size 50vw
  text-align center

  width 50vw
  float left

  cursor default
  -webkit-touch-callout none
  -webkit-user-select none
  -khtml-user-select none
  -moz-user-select none
  -ms-user-select none
  user-select none

  span
    position absolute
    top 50%
    left 50%
    transform translate(-50%, -55%)

  &.rolling
    animation pulse .6s

.zarlar
  background black
  text-selection none
  height 100vh